
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Space Grotesk', sans-serif;
    
}
.tudo{
    display: flex;
    align-content: center;
    width: 1440px;
    width: 100%;
    height: 100vh;
}
.left{
    width: 50%;
    height: 100vh;
    overflow: hidden;
    
}
.img_cartao1{
    height: 100%;
    width: 100%;
}
.cartao1{
    
    position: absolute;
    width: 27%;
    margin-top: 9%;
    margin-left: 13%;
    overflow: visible;
    
}
.numero_cartao{
    letter-spacing: 0.2vw;
    color: white;
    font-size: 1.7vw;
    margin-top: -24%;
    text-align: center;
    width: 100%;
    height: 100%;
}
.cartao_info{
    display: flex;
    
}
.nome_cartao{
    letter-spacing: 0.15vw;
    color: white;
    font-size: 0.9vw;
    margin-top: 5%;
    margin-left: 8%;
    width: 100%;
    height: 100%;
}
.val_cartao{
    letter-spacing: 0.15vw;
    color: white;
    text-align: right;
    font-size: 0.9vw;
    margin-top: 5%;
    margin-right: 6%;
    width: 100%;
    height: 100%;
}
.num_seg{
    letter-spacing: 0.15vw;
    color: white;
    font-size: 0.9vw;
    margin-top: -31%;
    margin-left: 80%;
    width: 100%;
    height: 100%;
    
}
.img_cartao2{
    width: 100%;
    height: 100%;
    
    
}
.cartao2{
    position: absolute;
    width: 27%;
    margin-top: 26%;
    margin-left: 20%;
    overflow: visible;
    
}
.fundo{
    margin-top: 0px;
    width: 100%;
    overflow: visible;
}
.img_fundo{
    margin-top: 0px;
    height: 100vh;
    width: 64%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: visible;
     
}
.right{
    width: 50%;
    height: 100vh;
}
.forms{
    margin-top: 30%;
    margin-left: 12%;
}
.form1{
    border: 1px solid rgb(180, 180, 180);
    border-radius: 7px;
    margin-top: 1vh;
    margin-bottom: 2.6vh;
    width: 22vw;
    height: 40px;
}
.form2{
    border: 1px solid rgb(180, 180, 180);
    border-radius: 7px;
    margin-top: 1vh;
    margin-bottom: 2.6vh;
    width: 22vw;
    height: 40px;
}
.form3{
    border: 1px solid rgb(180, 180, 180);
    border-radius: 7px;
    margin-top: 1vh;
    margin-bottom: 2.6vh;
    width: 5vw;
    height: 40px;
}
.form4{
    border: 1px solid rgb(180, 180, 180);
    border-radius: 7px;
    margin-top: 1vh;
    margin-bottom: 2.6vh;
    width: 5vw;
    height: 40px;
    margin-left: 0.6vw;
}
.form5{
    border: 1px solid rgb(180, 180, 180);
    border-radius: 7px;
    margin-top: 1vh;
    margin-bottom: 2.6vh;
    width: 8.6vw;
    height: 40px;
    margin-left: 1.2vw;
}
.textos{
    display: flex;
}
.texto2{
    margin-left: 4.3vw;
}

.forms_mult{
    display: flex;
}
::placeholder{
    font-size: 17px;
    color: hsl(270, 3%, 87%);
}
.button{
    background-color: hsl(278, 68%, 11%);
    color: white;
    font-size: 18px;
    height: 55px;
    border-radius: 8px;
    width: 22vw;
    cursor:pointer;
}
.textos{
    font-size: 12px;
    letter-spacing: 0.1vw;
    color: hsl(278, 68%, 11%);
}
input{
    outline: 0;
}
input[type=text]{
    font-size: 17px;
    padding-left: 0.7vw;
    
}
.span{
    margin-top: -2.5vh;
    margin-bottom: 1.5vh;
    display: none;
    font-size: 13px;
    color: red;
    
}
.spanform1{
    margin-left: 0.8vw;
}
.spanform2{
    margin-left: 1.2vw;
}
.form_span{
    display: block;
}
#concluido{
    display: none;
    width: 20vw;
    
}
#form{
    display: block;
}
.thank{
    margin-top: 3vh;
    color: hsl(278, 68%, 11%);
    letter-spacing: 0.2vw;
    text-align: center;
    font-size: 1.8vw;
}
.thank2{
    color: hsl(279, 6%, 55%);
    text-align: center;
    font-size: 1vw;
    margin-top: 2.2vh;
}
.img_concluido{
    margin-left: 8vw;
}
.concluir{
    background-color: hsl(278, 68%, 11%);
    color: white;
    font-size: 18px;
    height: 55px;
    margin-top: 5vh;
    margin-left: -0.7vw;
    border-radius: 8px;
    width: 22vw;
    cursor:pointer;
}

